#output{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 50vw;
    justify-content: space-evenly; 
    background-color: lightgrey;
    margin-left: 30%; 
    
}
#output div{
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    width: 80%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}
h1{
    text-decoration: underline;
}